.content_header {
    display: flex;
    justify-content: center;
    background-color: rgb(175, 180, 180);
    padding: auto;
}
.btn1 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 25px;
}
.btn2 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn3 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn4 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn5 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn6 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn7 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn8 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn9 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn10 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn11 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn12 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
.btn13 {
    background-color: dodgerblue;
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 50%;
}
.btn14 {
    background-color: rgb(245, 19, 19);
    border: 0px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}
