/* Estilos para hacer la tabla más pequeña */
#table_users, #table_desactivar {
    font-size: 0.875rem; /* Reducir el tamaño de la fuente */
}

#table_users, #table_desactivar th, #table_users, #table_desactivar td {
    padding: 0.5rem; /* Reducir el espaciado interno de las celdas */
}

#table_users, #table_desactivar thead th {
    padding-top: 0.25rem; /* Reducir el espaciado superior de las celdas de encabezado */
    padding-bottom: 0.25rem; /* Reducir el espaciado inferior de las celdas de encabezado */
}

.table-responsive {
    overflow-x: auto;
}

.btn-group {
    display: flex;
    flex-wrap: nowrap; /* Evita que los botones se envuelvan a la siguiente línea */
}

.btn {
    margin-right: 5px; /* Espacio entre los botones */
}

#table_desactivar {
    width: 100% !important;
}
