#contratos_dia .fila-60-meses {
    background-color: rgb(251, 201, 255) ; /* Lila claro */
}

#contratos_dia .fila-acta-p {
    background-color: rgb(184, 250, 195); /* Color para filas donde N° ACTA empieza con "P" */
}

#contratos_dia .celda-amarilla {
    background-color: rgb(253, 221, 140); /* Amarillo claro */
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
#loader {
    border: 16px solid rgba(0, 0, 0, 0.329);
    /* Borde transparente */
    border-top: 16px solid #3498db;
    /* Azul */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    /* Animación de rotación */
    position: fixed;
    /* Fijar posición */
    top: 50%;
    /* Posición vertical en el centro */
    left: 50%;
    /* Posición horizontal en el centro */
    margin-top: -60px;
    /* Centrar verticalmente */
    margin-left: -60px;
    /* Centrar horizontalmente */
    z-index: 9999;
    /* Asegurar que esté sobre otros elementos */
  }
  
  /* Estilo adicional para oscurecer el fondo */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    /* Fondo semi-transparente */
    z-index: 9998;
    /* Debajo del loader */
  }

.handsontable.htReadOnly {
    background-color: #f9f9f9; /* Cambia el color de fondo a un tono diferente */
}

.shadow-container {
    background-color: #f9f9f9; /* Color de fondo claro */
    border: 1px solid #ccc; /* Borde sutil */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
    padding: 20px; /* Espacio dentro del contenedor */
    margin-bottom: 20px; /* Espacio entre contenedores */
}

.card-body {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px; /* Espacio entre elementos del card */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.btn {
    margin-right: 10px; /* Espacio entre botones */
}

#detalles {
    width: 100%; /* Aprovecha todo el ancho disponible */
    height: 300px; /* Altura fija para Handsontable */
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 0;
}


.highlight {
    background-color: rgb(193, 144, 21);
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

.form-group input {
    flex: 1;
}

.campo-invalido {
  border: 1px solid red; /* Establecer borde rojo para campos no completados */
}
td,th {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; /* Opcional: añade puntos suspensivos al final del texto si se desborda */
}

.modal-backdrop-custom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

#ventanaEmergente {
    z-index: 1050 !important;
}

#modalDiseños {
    z-index: 1050 !important;
}
