@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  #loader {
    border: 16px solid rgba(0, 0, 0, 0.1);
    /* Borde transparente */
    border-top: 16px solid #3498db;
    /* Azul */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    /* Animación de rotación */
    position: fixed;
    /* Fijar posición */
    top: 50%;
    /* Posición vertical en el centro */
    left: 50%;
    /* Posición horizontal en el centro */
    margin-top: -60px;
    /* Centrar verticalmente */
    margin-left: -60px;
    /* Centrar horizontalmente */
    z-index: 9999;
    /* Asegurar que esté sobre otros elementos */
  }
  
  /* Estilo adicional para oscurecer el fondo */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    z-index: 9998;
    /* Debajo del loader */
  }
    
  
    .body {
        background-color: #f0f0f0;
        font-family: 'Arial', sans-serif;
    }
  
    .shadow-container {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 20px auto; 
        max-width: 1250px;  
        border-radius: 10px;
        background-color: #f8f9fac4;
    }
    .card-header{
        background-color: #f3f3f3;
        color: white;
    }
  
    .btn-group {
        display: flex;
        flex-wrap: nowrap; /* Evita que los botones se envuelvan a la siguiente línea */
    }
    
    .btn {
        margin-right: 5px; /* Espacio entre los botones */
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /* Opcional: añade puntos suspensivos al final del texto si se desborda */
    }